
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
  
      <!-- Dropdown -->
      <li class="nav-item dropdown" *ngFor="let courseGrop of courseGropList">
        <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
            {{courseGrop.key}}
        </a>
        <div class="dropdown-menu" >
          <a class="dropdown-item" *ngFor="let course of courseGrop.value" routerLink="/tutorial/{{course.courseId}}">{{course.name}}</a>
        </div>
      </li>
      
    </ul>
  </nav>