<!-- <div>{{courseDetails.courseId}} </div>
<div>{{courseDetails.name}} </div>
<div>{{courseDetails.description}} </div>
<div *ngFor="let topic of courseDetails.topics">
    <div ><a routerLink="video/{{topic.videoId}}">{{topic.name}}</a> </div>
</div>
<div>
        <router-outlet></router-outlet>
</div>
-->

<div class="container row">
    <div class="menu">
        <ul>
        <li *ngFor="let topic of courseDetails.topics">
            <a routerLink="video/{{topic.videoId}}">{{topic.name}}</a> 
        </li>
        </ul>
    </div>
    <div style="position: relative; left:15%;top: 5%;">
            <router-outlet></router-outlet>
    </div>
</div>
